@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {background-color: #292c35;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.first{
    margin-right: 100px;
}

*{
    margin: auto;
    padding: auto;
    /* font-family: "Roboto",sans-serif; */
    /* font-family: "Poppins", sans-serif; */
}
/* body{
    background-image: url(weather.jpg);
} */
.main{
    text-align: center;
    /* margin-top: 100px; */
}
form input{
    font-size: 20px;
    font-weight: 400;
    margin: 25px;
    border-radius: 100px;
    height: 40px;
    width: 75%;
}
.main h1{
    margin: 10px;
    font-size: 50px;
    font-weight: 900;
}
.main button{
    background-color: cadetblue;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    width: 100px;
}
.main button:hover{
    font-size: 20px;
    font-weight: 500;
}
.sub{
    text-align: center;
    background-color: darkcyan;
    height: auto;
    width: auto;
    background-image: url(weather.jpg);
}
.sub-para{
    font-size: 2rem;
    font-weight: 500;
    /* font-family: "Roboto"; */
}
.message{
    font-size: 2rem;
    font-weight: 500;
}